{% extends "layout/app.html.twig" %}
{% block CUSTOM_CSS %}

{% endblock %}

{% block CONTENT_MID %}
    <div class="container" style="margin-top: 150px !important;">

        {% if data is defined and data is not empty %}
            {% set pinned = data[0] %}
            <div class="p-4 p-md-5 mb-4 text-white rounded"
                 style="background-image: url('{{ pinned.image_url }}');
                        background-repeat: no-repeat;
                        background-size: cover;
                     ">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic">{{ pinned.title }}</h1>
                    <p class="lead my-3">{{pinned.short}}</p>
                    <p class="lead mb-0"><a href="{{pinned.slug}}" class="text-white fw-bold">Continue reading...</a></p>
                </div>
            </div>
        {% endif %}

        <div class="row g-5">
            <div class="col-md-8">
                <div class="row">
                    {% for post in data %}
                        {% if loop.index>1 %}
                            {% include 'blog/blog_post.html.twig' with {'data': post} %}
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        {{ pimcore_inc(document.getProperty('cats')) }}
        </div>
        {% include 'components/pagination.html.twig' %}
    </div>


{% endblock %}

{% block CUSTOM_JS %}

{% endblock %}

