
{% if pagination is defined and pagination.itemsOnPage>0 %}
    {% set isNotLast = (pagination.current!=pagination.last) %}
    {% set isNotFirst = (pagination.current!=pagination.first) %}
    {% set current = pagination.current %}

<hr style="color: #c3c3c3; margin: 50px 0 50px 0">
<div class="row" style="margin-bottom: 50px;">
    <div class="col-3">
        <span style="font-size: 12px;font-style: italic; color: #c3c3c3;">Showing {{ pagination.itemsOnPage }} from total of {{ pagination.total }} </span>
    </div>
    <div class="col-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if isNotFirst %}
                    <li class="page-item">
                        <a class="page-link" href="{{  pimcore_url({'page': current-1}) }}">Previous</a>
                    </li>
                {% endif %}
                {% for page in pagination.rangeArray %}
                    <li class="page-item {{ (current==page)?'active':'' }}"><a class="page-link" href="{{  pimcore_url({'page': page}) }}">{{ page }}</a></li>
                {% endfor %}
                {% if isNotLast %}
                    <li class="page-item">
                        <a class="page-link" href="{{  pimcore_url({'page': current+1}) }}">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>

{% endif %}